<p><%== t(".email_greeting", username: @user.nickname.html_safe) %></p>

<p><%== t(".email_resume", organization_name: @organization.name.html_safe) %></p>

<% if see_more? %>
  <p><%== t(".email_see_more",
            organization_path: decidim.root_url(host: @organization.host),
            organization_name: @organization.name.html_safe,
            notifications_path: decidim.notifications_path) %>
  </p>
<% end %>

<% @events.each do |event| %>
  <%
    event_instance = event[:event_class].constantize.new(
      resource: event[:resource],
      event_name: event[:event_name],
      user: event[:user],
      extra: event[:extra],
      user_role: event[:user_role]
    )
  %>

  <blockquote class="notification-blockquote">
    <div>
      <p class="notification-legend">
        <%= icon "datetime", class: "notification-icon icon" %><%= event[:created_at] %>
      </p>
      <p>
        <%= event_instance.notification_title %>
      </p>
    </div>
  </blockquote>
<% end %>

<p><%== t(".email_intro", organization_name: @organization.name.html_safe) %></p>

<p><%== t(".email_outro", notifications_settings_path: decidim.notifications_settings_path) %></p>
